<div id="map">
    <ng-template cdk-portal #controllOverlay="cdkPortal" >
        <div>
            <controller #childref [currentPosition]="currentSelection" [map]="map" [vectorLayer]="vectorLayer"></controller>
        </div>
    </ng-template>

    <!-- <div cdkOverlayOrigin #myOrigin="cdkOverlayOrigin" ></div> -->
</div>







<!-- <span class="glyphicon glyphicon-envelope"></span> -->


<!-- <div cdkOverlayOrigin #settings="cdkOverlayOrigin" class="float-right"></div> -->


<!-- <p> {{ myHTML }}</p> -->






<!--It Works...-->

<!-- <button type="button" cdkOverlayOrigin #origin="cdkOverlayOrigin" >Test</button> -->



<!-- <button type="button" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin" >Test</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
    <p>Hallfjasdklfjldasjfldjaslfjkldasjfklasdjlkfklasdöfjkldasdfkljasdkljfkldsaj</p>
</ng-template> -->
