





<!-- <div cdkOverlayOrigin #myOrigin="cdkOverlayOrigin">Haaalllooooo</div> -->

<!-- <button cdk-overlay-origin (click)="openSpaghettiPanel()">
        Pasta 3
</button> -->

    <!-- <div class="cdk-overlay-container">
            <div id="cdk-overlay-0" class="cdk-overlay-pane" dir="ltr">
              fdasfdasfdafdafdasfdsafdasfadf
            </div>
          </div> -->

          <!-- <ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="origin" [cdkConnectedOverlayOpen]=true>
                <p>Hallfjasdklfjldasjfldjaslfjkldasjfklasdjlkfklasdöfjkldasdfkljasdkljfkldsaj</p>
            </ng-template> -->

            <div id="map">
                    
                </div>

<div cdkOverlayOrigin #myOrigin="cdkOverlayOrigin" ></div>

<!-- <div cdkOverlayOrigin #settings="cdkOverlayOrigin" class="float-right"></div> -->




<ng-template cdk-portal #tortelliniTemplate="cdkPortal" >
    <div  >
            <spagetti-panel ></spagetti-panel>
    </div>
    
    
</ng-template>

<span class="glyphicon glyphicon-envelope"></span>









<!--It Works...-->

<!-- <button type="button" cdkOverlayOrigin #origin="cdkOverlayOrigin" >Test</button> -->



<!-- <button type="button" (click)="isOpen = !isOpen" cdkOverlayOrigin #trigger="cdkOverlayOrigin" >Test</button>

<ng-template cdkConnectedOverlay [cdkConnectedOverlayOrigin]="trigger" [cdkConnectedOverlayOpen]="isOpen">
    <p>Hallfjasdklfjldasjfldjaslfjkldasjfklasdjlkfklasdöfjkldasdfkljasdkljfkldsaj</p>
</ng-template> -->
