
    <ul class="nav ml-2 mt-2 bg-light noselect" style="width: 10rem;">
    <li class="nav-item" style="width:100%">


        <button class="btn btn-primary nav-link" style="width:100%" data-toggle="collapse" href="#collapseNavigation">
                <div class="float-left">Navigation</div>
        </button>

        <div class="collapse" id="collapseNavigation" style="width:100%">
            <button type="button" class="btn btn-light {{startactive}}" (click)="setStart()" style="width:100%">
                <div class="float-left">Start</div>
            </button>
            <button type="button" class="btn btn-light {{endactive}}" (click)="setEnd()" style="width:100%">
                <div class="float-left">Ziel</div>
            </button>
            <button type="button" class="btn btn-light" [disabled]="disableFindRoute" (click)="startDijkstra()" style="width:100%">
                <div class="float-left">Berechne Route</div>
            </button>
        </div>

        <button class="btn btn-primary nav-link" style="width:100%" data-toggle="collapse" href="#collapseMapMatching">
            <div class="float-left">MapMatching</div>
        </button>

        <div class="collapse" id="collapseMapMatching">

                <button type="button" class="btn btn-light {{addactive}}" (click)="setAdd()" style="width:100%">
                    <div class="float-left">Hinzufügen</div>
                </button>

                <input type="file" class="btn btn-light"
                    id="file"
                    (change)="handleFileInput($event.target.files)" style="width:100%">

                    
                <button type="button" class="btn btn-light" [disabled]="disableDelete"  (click)="deleteRoute()" style="width:100%">
                    <div class="float-left">Löschen</div>
                </button>
                <div class="ml-3 mt-1" style="width:100%">
                    &#963;: <input type="text" placeholder={{sigma_standard}} [(ngModel)]="sigma_value" style="width:2rem">
                </div>
                <div class="ml-3 mt-1" style="width:100%">
                        &#946;: <input type="text" placeholder={{beta_standard}} [(ngModel)]="beta_value" style="width:2rem">
                    </div>
                <div class="ml-3 mt-1" style="width:100%">
                        k-NN: <input type="text" placeholder={{kNN_standard}} [(ngModel)]="kNN_value" style="width:2rem">
                    </div>
                <button type="button" class="btn btn-light" [disabled]="disableMatch" (click)="startMapMatching()" style="width:100%">
                    <div class="float-left">Match</div>
                </button>
        
        </div>
    </li>
</ul>