
<ul class="nav flex-column ml-2 mt-2 bg-light noselect" style="width: 20rem;">
    <li class="nav-item">


        <button class="btn btn-light nav-link container-fluid" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="float-left"> Navigation</div>
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card ml-4 mt-2 mr-2 mb-2" >
                <div class="btn-group-vertical border-0">
                    <div class="btn-group border-0" role="group" aria-label="First group">
                        <button type="button" class="btn btn-light border-0" (click)="setStart()"><div class="float-left">Start</div>{{startCoords}}</button>
                    </div>
                    <div class="btn-group border-0" role="group" aria-label="First group">
                        <button type="button" class="btn btn-light border-0" (click)="setEnd()"><div class="float-left">Ziel</div>{{endCoords}}</button>
                    </div>
                    <div class="btn-group border-0" role="group" aria-label="First group">
                        <button type="button" class="btn btn-light border-0" (click)="startDijkstra()"><div class="float-left">Berechne Route</div></button>
                    </div>

                </div>
            </div>
        </div>
    </li><!--
    <li class="nav-item">
        <button class="btn btn-light nav-link container-fluid" (click)="buildTable()" data-toggle="collapse" href="#collapseTabelle" role="button" aria-expanded="false" aria-controls="collapseTabelle">
            <div class="float-left"> Tabelle</div>
        </button>

        <div class="collapse" id="collapseTabelle">
                <mat-list>
                    <mat-list-item >
                        <h3 matLine> test </h3>
                        <p matLine>
                        <span> test </span>
                        <span class="demo-2"> --test </span>
                        </p>
                    </mat-list-item>
                    </mat-list>
            
        </div>
    </li>-->

  </ul>
