
<!-- <div id="position">
 <div id="sidebar" class="mt-1 ml-1 mr-1 mb-1">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            </ul>
        </div>
    </nav>

</div> 
</div> -->
<ul class="nav flex-column ml-2 mt-2 bg-light noselect" style="width: 20rem;">
    <li class="nav-item">
        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
              Geräte
            </mat-expansion-panel-header>
          
            <p>This is the primary content of the panel.</p>
            <mat-divider></mat-divider>

            <button mat-button class="container-fluid mt-1">Gerät hinzufügen...</button>

        </mat-expansion-panel> -->

        <button class="btn btn-light nav-link container-fluid" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <div class="float-left"> Geräte</div>
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card ml-4 mt-2 mr-2 mb-2" >
                <div class="btn-group-vertical border-0">
                    <div class="btn-group border-0" role="group" aria-label="First group">
                        <button type="button" class="btn btn-light border-0"><div class="float-left">BMW</div></button>
                        <button type="button" style="width: 20%;" class="btn btn-light border-0"><img src="/assets/svg/bar-chart.svg" alt="icon name"></button>
                    </div>
                    <div class="btn-group border-0" role="group" aria-label="First group">
                            <button type="button" class="btn btn-light border-right"><div class="float-left">VW-Bus</div></button>
                            <button type="button" style="width: 20%;" class="btn btn-light"><img src="/assets/svg/bar-chart.svg" alt="icon name"></button>
                        </div>
                        

                </div>
            </div>
        </div>
    </li>
    <!-- <li class="mat-expansion-panel">
        <span class="mat-content ml-4" href="#">Einstellungen</span>
      </li> -->
      <li class="nav-item">
        <button class="btn btn-light nav-link container-fluid" href="#"><div class="float-left">Einstellungen</div></button>
    </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ausloggen</a>
    </li>
  </ul>



<!-- 
  <li class="list-group-item" href="#">
        BMW 
        <button type="button" class="btn btn-default btn-sm float-right">
                <img src="/assets/svg/bar-chart.svg" alt="icon name">
        </button>
         <img class="float-right img-responsive" style="height:100%" src="/assets/svg/bar-chart.svg" alt="icon name"> 
    </li> -->

    <!-- <ul class="list-group list-group-flush">
        <li class="list-group-item" href="#">
                <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-light">Left</button>
                        <button type="button" class="btn btn-light">Middle</button>
                      </div>
        </li>
        <li class="list-group-item list-group-item-action">VW-Bus</li>
        <li class="list-group-item list-group-item-action">VW-Golf</li>
    </ul> -->